body {
  background-color: #121212;
  Color: #4a6572;
}

.container {
  display: flex;


}

h3 {
  color: #344955;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color:darkslategray;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: #4a6572;
}

.mini-grid {
  margin-left: 4rem;
  width: 40px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  background-color:#F9AA33;
  
}

.mini-grid div {
  height: 10px;
  width: 10px;
}